.navbar-custom {
  background-color: #072f66;
}

.navbar-brand img {
  height: 50px;
}

.nav-link.active {
  border-bottom: 2px solid white;
}

.dropdown-menu {
  min-width: 8rem;
  font-size: 0.95rem;
  padding: 0.25rem 0;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  font-weight: 500;
}

.dropdown-toggle {
  padding: 6px 14px;
  font-weight: 500;
  font-size: 0.95rem;
}

/* Softer text colors */
.hero-content h1 {
  color: #f1f1f1;
}

.hero-content p,
section p {
  color: #d0d0d0;
}
